:host {
    display: block;
    //background: red;
}

.content {
    display: flex;
}

paper-input {
    flex-grow: 1;
}

paper-checkbox {
    margin-left: 1rem;
}

app-toolbar {
    font-size: 1rem;
}