@import "../styles/_common.scss";

:host {
    display: block;
    //background: red;
}

.content {
    display: flex;
}

paper-input {
    flex-grow: 1;
}

paper-checkbox {
    margin-left: 2rem;
    margin-right: 1rem;
}

app-toolbar {
    font-size: 1rem;
}

paper-button {
    background-color: $primary-color;
    color: white;
    padding-right: 22px;
    padding-left: 22px;
}